:root {
    --focus: #088199;
    --contrast: #0f0f0f;
    --text: #eeeeee;
    --transparent: #00000040;

    --border: 2px;
    --radius: 10px;
}

html,
body {
    color: var(--text) !important;
    background: var(--contrast) !important;
}

/* Indicators. */
.countIndicator,
.playedIndicator {
    box-shadow: none !important;
    background: var(--transparent) !important;
}

/* Buttons. */
button {
    transition: unset !important;
    border-radius: unset !important;
    background: var(--transparent) !important;
    color: var(--text) !important;
}
.cardBox button {
    border-radius: var(--radius) !important;
    background: transparent !important;
    -webkit-backdrop-filter: blur(var(--radius)) !important;
    backdrop-filter: blur(var(--radius)) !important;
}
.cardBox button:not(.cardOverlayContainer > button) {
    margin: 2px !important;
}
.emby-scrollbuttons-button,
.cardOverlayButton {
    padding: unset !important;
}
.skinHeader {
    color: var(--text) !important;
}
.skinHeader button {
    background: transparent !important;
    padding: 4px 8p !important;
}
.skinHeader button:not(.emby-tab-button-active) {
    color: var(--text) !important;
}
.skinHeader button:hover,
.emby-tab-button-active,
.emby-button:hover {
    color: var(--focus) !important;
}
button:not(.cardBox button):not(.skinHeader button):hover {
    background: transparent !important;
    color: var(--focus) !important;
}
.cardBox button:hover {
    color: var(--focus) !important;
}
.cardOverlayFab-primary:hover {
    -webkit-transform: none !important;
    transform: none !important;
}
.button-link {
    color: var(--focus) !important;
}
.checkboxIcon::before {
    background: var(--focus) !important;
}
.checkboxOutline,
input,
button.raised,
.emby-select-withcolor,
.inputContainer textarea {
    border-radius: var(--radius) !important;
    border: var(--border) solid var(--text) !important;
}

/* Progress bars. */
.itemProgressBar {
    background: transparent !important;
}
.itemProgressBarForeground {
    background-color: var(--contrast) !important;
}

/* Cards. */
.cardContent {
    border-radius: var(--radius) !important;
    contain: inherit !important;
}
.cardPadder {
    box-shadow: none !important;
    background-color: transparent !important;
}

/* Background colours. */
.backgroundContainer,
.pageTabContent,
.dialogBackdrop,
.paperList,
.formDialogFooter {
    background: var(--contrast) !important;
}
.skinHeader,
.skinHeader.semiTransparent {
    background-color: var(--transparent) !important;
    -webkit-backdrop-filter: blur(var(--radius)) !important;
    backdrop-filter: blur(var(--radius)) !important;
}
.detailPagePrimaryContainer, .detailRibbon {
    background: var(--contrast) !important;
    color: var(--text) !important;
}
.actionsheetDivider {
    height: unset !important;
    margin: var(--border) !important;
    background: unset !important;
}
.mainDrawer,
.listItem:hover,
.dialog {
    background: transparent !important;
    -webkit-backdrop-filter: blur(var(--radius)) !important;
    backdrop-filter: blur(var(--radius)) !important;
}
.dialog {
    border-radius: var(--radius)  !important;
    box-shadow: unset !important;
}
.actionSheetContent {
    padding: unset !important;
}

/* Selection, input and detailed information page. */
.selectLabelFocused {
    color: var(--focus) !important;
}
.emby-select-withcolor {
    background: var(--contrast) !important;
}
.emby-select-withcolor:focus {
    border-color: var(--focus) !important;
}
.selectLabel, .label {
    font-weight: bold !important;
}
.detailPageSecondaryContainer,
.inputContainer input {
    background: var(--contrast) !important;
}
.inputContainer label,
.selectContainer select {
    color: var(--text) !important;
}
.selectContainer select,
.inputContainer textarea {
    background: var(--contrast) !important;
    border: var(--border) solid var(--text) !important;
    align-content: center !important;
    padding-left: var(--radius) !important;
}

/* Logo. */
.pageTitleWithDefaultLogo {
    display: none !important;
}
