@define-color blue #088199;
@define-color white #eeeeee;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-weight: 600;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

button {
    color: @blue;
}
button,
tooltip label {
    box-shadow: none;
    text-shadow: none;
    transition: none;
}
menuitem {
    border: unset;
    padding: 4px 0px;
    border-radius: 4px;
    color: @white;
    background: @blue;
}

menu,
#workspaces,
#taskbar {
    background: transparent;
    border: 2px solid @blue;
    border-radius: 4px;
    padding: unset;
}
#workspaces button:hover,
#workspaces button.active,
#taskbar button:hover,
#taskbar button.active {
    color: @white;
    background: @blue;
}

#custom-menu:hover,
#custom-playback:hover,
#network:hover,
#custom-lock:hover,
#custom-off:hover {
    color: @blue;
    background: transparent;
}

/* Blurred background */
menuitem:hover,
tooltip {
    color: @blue;
    background: rgba(255, 255, 255, 0.2);
}

tooltip {
    border: 2px solid @blue;
    border-radius: 4px;
}
tooltip label {
    color: @blue;
    font-size: 14px;
    font-weight: 600;
}

#custom-menu,
#clock,
#custom-playback,
#cpu,
#custom-gpu,
#memory,
#temperature,
#network,
#custom-lock,
#custom-off {
    background: @blue;
    padding: 0px 8px;
    color: @white;
    border: 2px solid @blue;
}

/* Warnings. */
.warning {
    animation-name: blink-warning;
}
.critical {
    animation-name: blink-critical;
}
.warning,
.critical {
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-warning {
    to {
        background-color: transparent;
        color: @blue;
    }
}
@keyframes blink-critical {
    from {
        color: red;
    }
    to {
        background-color: transparent;
        color: red;
    }
}

#workspaces,
#custom-playback,
#temperature {
    margin-right: 8px;
}

/* Padding to center align icons */
#custom-menu {
    font-size: 24px;
    padding: 0px 10px;
}
#clock {
    padding: 0px 2px 0px 8px;
}
#custom-playback {
    font-size: 22px;
    padding: 0px 12px 0px 10px;
}
#custom-lock,
#custom-off {
    padding: 0px 14px 0px 10px;
}

/* Radii */

#custom-menu {
    border-radius: 4px;
}
#clock,
#cpu,
#network {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#custom-playback,
#taskbar,
#temperature,
#custom-off {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Hide empty taskbar */

#taskbar.empty {
    border: unset;
}
