#window {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", "monospace";
    background-color: rgba(200, 200, 200, 0.2);
    color: black;
    border: 2px solid #088199;
    border-radius: 4px;
}

#img {
    padding: 4px;
}

#input {
    color: black;
    background: unset;
    box-shadow: none;
    border: 2px solid #088199;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 12px;
}
#input > image {
    -gtk-icon-transform: scaleX(0);
}
#input:focus {
    color: white;
    background: #088199;
}

#entry:selected {
    color: white;
    background: #088199;
    outline: 2px solid #088199;
    border-radius: 4px;
}
